
<div class="card">
  <div class="header">{{ network_name }}</div>
  <div class="section">
    <span>صفحة تسجيل الدخول:</span>
    <span class="highlight">{{ login_page }}</span>
  </div>
  <div class="section" style="background-color: #eee;">
    {{ package }}
  </div>
  <div class="section credentials">
    <span><span class="label">اسم المستخدم:</span> <span class="value">{{ username }}</span></span><br>
    <span><span class="label">كلمة المرور:</span> <span class="value">{{ password }}</span></span>
  </div>
  <div class="footer">
    <span>الدعم الفني:</span><span class="highlight">{{ support_phone }}</span>
  </div>
</div>
